html, body {
    margin: 0;
  }

.href{
    display: flex;
    justify-content: space-between;
    background-color: #8b6363;
    height: 40px;
    margin-bottom: 8px;
}

.link{
    margin-left: 40px;
}

body{
    margin: 0
}