html, body {
    margin: 0;
  }

.href{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8b6363;
    height: 60px;
    margin-bottom: 8px;
    color: white;
}

.link:link{
    margin-left: 40px;
    color: white;
    font-family: 'Verdana, sans-serif, Areal';
}

.link:visited{
    color: black;
}

.searchBar{
    background-color: #F3CCCC;
    height: 50px;
    width: 500px;
    border-radius: 100px;
    margin: 10px;
}

p{
    color: white;
    font-family: 'Verdana, sans-serif, Areal';
}